<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quiz</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<h2>Autor: Abel Martos López</h2>
		<img src="/images/Mii.jpg">
		<footer><a href='http://github.com/abelml/quiz'>Enlace al proyecto Quiz en github</a></footer>
	</body>
</html>
