<form method="get" action="/quizes/answer">
	<p>Pregunta: <%= pregunta %></p>
	<div>
		<input type="text" name="respuesta" value="Respuesta" />
	</div>
	<br>
	<div>
		<input type="submit" value="Enviar">
	</div>
</form>
