<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<p>Pregunta: <%= quiz.pregunta %></p>
	<div>
		<input type="text" name="respuesta" value="Respuesta" />
	</div>
	<br>
	<div>
		<input type="submit" value="Enviar">
	</div>
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<% for (index in quiz.comments) { %>
	<p>- <%= quiz.comments[index].selectedValues.texto %></p>
<% } %>
